<!DOCTYPE html>
<html>
  <head>
    <title>FormLib</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag "libs/jquery-validate/jquery-validate.min" %>
    <%= javascript_include_tag "libs/jquery-validate/additional-methods.min" %>
    <%= javascript_include_tag "libs/jquery-mask/jquery.mask" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
